CONFIG_EFI_LOADER=n
CONFIG_CMD_EFI=n
CONFIG_EFI_PARTITION=n
CONFIG_EFI_PARTITION_ENTRIES_NUMBERS=128
CONFIG_EFI_PARTITION_ENTRIES_OFF=0
CONFIG_SPL_EFI_PARTITION=n
# Disable FIT signature verification to avoid ATF hash issues
CONFIG_SPL_FIT_SIGNATURE=n
CONFIG_SPL_CRYPTO_SUPPORT=n
CONFIG_SPL_HASH_SUPPORT=n

# Enable extlinux/syslinux support for boot configuration
CONFIG_CMD_SYSBOOT=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_CMD_EXTLINUX=y

CONFIG_VIDEO=y
CONFIG_DM_VIDEO=y
CONFIG_VIDEO_ROCKCHIP=y   # Rockchip DRM/KMS driver
# CONFIG_CMD_BMP=y          # if you want U-Boot to show bmp logo
# CONFIG_SPLASH_SCREEN=y    # allow U-Boot splash
# CONFIG_SPLASH_SOURCE=y    # allow loading from bmp file
CONFIG_CONSOLE_MUX=y
CONFIG_CFB_CONSOLE=y
CONFIG_VGA_AS_SINGLE_DEVICE=y
CONFIG_SYS_WHITE_ON_BLACK=y

# Disable built-in logo, we’ll provide splash later
# CONFIG_VIDEO_BMP_LOGO is not set
# CONFIG_SPLASH_SCREEN_ALIGN is not set


CONFIG_BOOTCOMMAND="bootflow scan -b"